<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">
    <h1 id="serv">Services</h1>
    <% @services.each do |service| %>
    <div class="col-xs-4 col-sm-4 col-md-4" id="cols">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= service.name %></h3>
        </div>
        <div class="panel-body">
          <%= image_tag(service.image_url, class: ["images", "img-responsive"] ) %>
        </div>
        <div class="panel-footer">
          <p>
            <%= service.description %>
          </p>
          <p>
            <%= service.location_of_service %>
          </p>
        </div>
      </div>
      
      
      

      <button type="button" class="btn btn-default">
        <%= link_to 'Show', service %>
      </button>
      <button type="button" class="btn btn-default">
        <%= link_to 'Edit', edit_service_path(service) %>
      </button>
      <button type="button" class="btn btn-default">
        <%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %>
      </button>
    </div>
    <% end %>
   
  </div>
</div>

<%= link_to 'New Service', new_service_path %>
